@import url(./style.css);


body{
    font-family: var(--Roboto);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: c;
}

.component{
    height: 85vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__image{
    width: 10vh;
    margin: 40px 0;
}


.thanks__title{
    font-size: 40px;
    font-weight: 700;
}

.thanks__descrition span{
    color: var(--Dark-Slate-Grey);
    font-weight: 700;
}

.thanks__descrition{
    margin: 40px 0;
}

.thanks__button{
    background-color: var(--Dark-Slate-Grey);
    border-style: none;
    border-radius: 10px;
    color: var(--White);
    font-weight: 700;
    padding: 15px;
}
